.predrocessing {
  height: 200px;
  background: rgb(209, 198, 198);

  &__title {
    font-size: 45px;
    color: darkblue;
    width: 250px;
    background-color: coral;

    &-subtitle {
      font-size: 25px;
      color: rgb(208, 20, 202);
      width: 700px;
      background-color: rgb(26, 183, 86);

      &__one {
        background-color: black;
        color: wheat;
      }
    }
  }
}

.pre-footer-block-second-content {
  position: relative;
  height: 1190px;
  background-color: #514747;
  color: white;
  flex-shrink: 0;

  &__card {
    position: absolute;
    height: 460px;
    width: 350px;
    background-image: url("images/list.png");
    z-index: 1;
    margin-left: auto;
    right: 106px;
  }

  &__formcontent {
    z-index: 0;
    width: 840px;
    height: 852px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #fbf19b;
    display: flex;
    justify-content: center;
  }
}

.general-block__crypto {
  background: linear-gradient(
    90deg,
    rgba(50, 124, 213, 1) 6%,
    rgba(227, 226, 237, 1) 50%,
    rgba(69, 85, 252, 1) 96%
  );
  height: 720px;
}
