.predrocessing {
  height: 200px;
  background: rgb(209, 198, 198);

  & button {
    background-color: rgb(220, 45, 45);
  }

  &__title {
    font-size: 45px;
    color: darkblue;
    width: 250px;
    background-color: coral;
  }
}
